server:
  port: 8091
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://auth-server:9000
  rabbitmq:
    host: localhost
    port: 5672
    username: root
    password: Htht123.com
