server:
  port: 10000
spring:
  application:
    name: gateway
  cloud:
    gateway:
      httpclient:
        connect-timeout: 1000   # 连接超时时间，单位毫秒 (ms)[5](@ref)
        response-timeout: 2s   
      routes:
        - id: front
          uri: http://127.0.0.1:11002
          predicates:
           - Path=/,/*.css,/*.js,/home.html,/index.html,/test.html,/favicon.ico, /fronttest,/index1.html,/index2.html
        - id: aliyun_route
          uri: https://www.aliyun.com/
          predicates:
            - Path=/product/**
        - id: articles
          uri: http://127.0.0.1:8090
          predicates:
           - Path=/articles/**
          filters:
           - StripPrefix=1        # 转发前去掉第一层路径 /client
           - name: AddStaticTokenScope # 使用自定义过滤器添加指定令牌
        - id: client
          uri: http://127.0.0.1:8080
          predicates:
           - Path=/client/**
          filters:
           - StripPrefix=1        # 转发前去掉第一层路径 /client
        - id: client1
          uri: http://127.0.0.1:8081
          predicates:
           - Path=/client1/**
          filters:
           - StripPrefix=1        # 转发前去掉第一层路径 /client1
           - name: AddStaticTokenScope # 使用自定义过滤器添加指定令牌
        - id: test_route
          uri: http://auth-server:9000
          predicates:
           - Path=/oauth2/**
        - id: test_route1
          uri: http://www.sina.com.cn
          predicates:
           - Path=/sina/**
        - id: test_route2
          uri: http://auth-server:9000
          predicates:
           - Path=/test/**
        - id: resourcerole
          uri: http://127.0.0.1:8091
          predicates:
           - Path=/resourcerole/**
          filters:
           - name: AddStaticTokenRole # 使用自定义过滤器添加指定令牌
        - id: resourcescope
          uri: http://127.0.0.1:8091
          predicates:
           - Path=/resourcescope/**
          filters:
           - name: AddStaticTokenScope # 使用自定义过滤器添加指定令牌
        - id: resourcerole0
          uri: http://127.0.0.1:8090
          predicates:
           - Path=/resourcerole0/**
          filters:
           - name: AddStaticTokenRole # 使用自定义过滤器添加指定令牌
        - id: resourcescope0
          uri: http://127.0.0.1:8090
          predicates:
           - Path=/resourcescope0/**
          filters:
           - name: AddStaticTokenScope # 使用自定义过滤器添加指定令牌
        - id: testresil4j
          uri: http://127.0.0.1:9081
          predicates:
           - Path=/testresil4j/**
          filters:
            - StripPrefix=1        # 转发前去掉第一层路径 /client
          #   - name: Retry
          #     args:
          #       retries: 3  # 最大重试次数（包括首次请求）
          #       series: CLIENT_ERROR, SERVER_ERROR  # 对哪些HTTP状态码系列进行重试（如5xx）
          #       methods: GET  # 对哪些HTTP方法进行重试
          #       exceptions: java.io.IOException, java.util.concurrent.TimeoutException, org.springframework.web.client.HttpServerErrorException, java.lang.Exception  # 对哪些异常进行重试
          #       backoff:
          #         firstBackoff: 10000ms  # 首次回退延迟
          #         maxBackoff: 20s       # 最大回退延迟
          #         factor: 2            # 延迟倍数（指数退避因子）
          #         basedOnPreviousValue: false  # 是否基于上一次重试的延迟时间 
          #       jitter:
          #         randomFactor: 0.5
          #       timeout: 100ms
          #   - name: CircuitBreaker
          #     args:
          #       name: backendA
          #       fallbackUri: forward:/fallback/backenda
            - name: RequestRateLimiter  # 固定使用此过滤器名称
              args:
                # 引用上面定义的KeyResolver Bean，使用SpEL表达式
                key-resolver: "#{@ipKeyResolver}"
                # 令牌桶每秒填充的平均速率（即允许的每秒请求数）
                redis-rate-limiter.replenishRate: 1
                # 令牌桶的总容量（即允许的瞬时最大突发请求数）
                redis-rate-limiter.burstCapacity: 1 
  security:
    oauth2:
      client:
        registration:
          gateway:
            provider: spring
            client-id: gateway
            client-secret: gatewaysecret
            authorization-grant-type: authorization_code
            redirect-uri: "http://127.0.0.1:10000/login/oauth2/code/{registrationId}"
            scope: 
             - openid
            client-name: gateway
          gateway-scope:
            provider: spring
            client-id: gateway
            client-secret: gatewaysecret
            authorization-grant-type: client_credentials
            redirect-uri: "http://127.0.0.1:10000/login/oauth2/code/{registrationId}"
            scope: 
             - articles.read
            client-name: gateway
        provider:
          spring:
            issuer-uri: http://auth-server:9000
  data:
    redis:
      host: localhost  # 你的Redis服务器地址
      port: 6380       # 你的Redis服务器端口
      # 如果Redis有密码，需要配置
      # password: your-redis-password
      # 可以选择数据库编号，默认为0
      # database: 0
      lettuce:
        pool:
          max-active: 8   # 连接池最大连接数
          max-idle: 8     # 连接池最大空闲连接数
          min-idle: 0     # 连接池最小空闲连接数
  session:
    store-type: redis
    timeout: 2m #session的过期时间，如果指定时间段内用户没有访问，则跳转到登录页面
    redis:
      namespace: polar:edge
resilience4j.circuitbreaker:
    configs:
        default:
            registerHealthIndicator: true
            slidingWindowSize: 10
            minimumNumberOfCalls: 5
            permittedNumberOfCallsInHalfOpenState: 3
            automaticTransitionFromOpenToHalfOpenEnabled: true
            waitDurationInOpenState: 15s
            failureRateThreshold: 50
            eventConsumerBufferSize: 10
            recordExceptions:
                - org.springframework.web.client.HttpServerErrorException
                - java.util.concurrent.TimeoutException
                - java.io.IOException
                - java.lang.Exception
            # ignoreExceptions:
            #     - io.github.robwin.exception.BusinessException
        shared:
            slidingWindowSize: 100
            permittedNumberOfCallsInHalfOpenState: 30
            waitDurationInOpenState: 1s
            failureRateThreshold: 50
            eventConsumerBufferSize: 10
            # ignoreExceptions:
            #     - io.github.robwin.exception.BusinessException
    instances:
        backendA:
            baseConfig: default
resilience4j.timelimiter:
    configs:
        default:
            cancelRunningFuture: true
            timeoutDuration: 2s
    instances:
        backendA:
            baseConfig: default
        backendB:
            baseConfig: default
resilience4j.retry:
    configs:
        default:
            maxAttempts: 3
            waitDuration: 10000
            retryExceptions:
                - org.springframework.web.client.HttpServerErrorException
                - java.util.concurrent.TimeoutException
                - java.io.IOException
                - java.lang.Exception
            # ignoreExceptions:
            #     - io.github.robwin.exception.BusinessException
    instances:
        backendA:
            baseConfig: default
        backendB:
            baseConfig: default
resilience4j.ratelimiter:
    configs:
        default:
            registerHealthIndicator: false
            limitForPeriod: 1
            limitRefreshPeriod: 1s
            timeoutDuration: 0
            eventConsumerBufferSize: 100
    instances:
        backendA:
            baseConfig: default
        backendB:
            limitForPeriod: 6
            limitRefreshPeriod: 500ms
            timeoutDuration: 3s
logging:
  level:
    org.yanglu.spring.security.study.example.controller: DEBUG
    org.springframework.cloud.gateway: DEBUG  # 开启网关核心日志
    org.springframework.http.server.reactive: DEBUG  # 打印HTTP请求细节[2](@ref)[8](@ref)
    org.springframework.web.reactive: DEBUG # 反应式Web日志
    # 设置 Resilience4j 核心组件的日志级别
    io.github.resilience4j: DEBUG # 设置整个 Resilience4j 库的日志级别为 DEBUG
    io.github.resilience4j.circuitbreaker: DEBUG # 特别设置断路器的日志级别
    io.github.resilience4j.retry: DEBUG # 特别设置重试机制的日志级别
    # 设置你自己服务接口或实现类的日志级别，以便查看 Resilience4j 注解的实际作用效果
    org.yanglu.spring.security.study.example.gateway.resi4j.service.Resi4jTestService: DEBUG
    reactor.netty: DEBUG # 网络层日志（关键）
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"  # 自定义日志格式[10](@ref)