server:
  port: 10000
spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: front
          uri: http://127.0.0.1:11002
          predicates:
           - Path=/,/*.css,/*.js,/home.html,/index.html,/test.html,/favicon.ico, /fronttest
        - id: articles
          uri: http://127.0.0.1:8090
          predicates:
           - Path=/articles/**
          filters:
           - StripPrefix=1        # 转发前去掉第一层路径 /client
           - name: AddStaticToken # 使用自定义过滤器添加指定令牌
        - id: client
          uri: http://127.0.0.1:8080
          predicates:
           - Path=/client/**
          filters:
           - StripPrefix=1        # 转发前去掉第一层路径 /client
        - id: client1
          uri: http://127.0.0.1:8081
          predicates:
           - Path=/client1/**
          filters:
           - StripPrefix=1        # 转发前去掉第一层路径 /client1
        - id: test_route
          uri: http://auth-server:9000
          predicates:
           - Path=/oauth2/**
        - id: test_route1
          uri: http://www.sina.com.cn
          predicates:
           - Path=/sina/**
        - id: test_route2
          uri: http://auth-server:9000
          predicates:
           - Path=/test/**
  security:
    oauth2:
      client:
        registration:
          gateway:
            provider: spring
            client-id: gateway
            client-secret: gatewaysecret
            authorization-grant-type: authorization_code
            redirect-uri: "http://127.0.0.1:10000/login/oauth2/code/{registrationId}"
            scope: 
             - openid
            client-name: gateway
          gateway1:
            provider: spring
            client-id: gateway
            client-secret: gatewaysecret
            authorization-grant-type: client_credentials
            redirect-uri: "http://127.0.0.1:10000/login/oauth2/code/{registrationId}"
            scope: 
             - articles.read
            client-name: gateway
        provider:
          spring:
            issuer-uri: http://auth-server:9000
logging:
  level:
    '[org.springframework.cloud.gateway]': DEBUG  # 开启网关核心日志
    '[org.springframework.http.server.reactive]': DEBUG  # 打印HTTP请求细节[2](@ref)[8](@ref)
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"  # 自定义日志格式[10](@ref)