server:
  port: 9000
  servlet:
    session:
      tracking-modes: cookie

spring:
  security:
    oauth2:
      authorizationserver:
        issuer: http://auth-server:9000
        # client:
        #   articles-client:
        #    registration:
        #     client-id: articles-client
        #     client-secret: "{noop}secret"
        #     client-name: Articles Client
        #     client-authentication-methods:
        #      - client_secret_basic
        #     authorization-grant-types:
        #      - authorization_code
        #      - refresh_token
        #     redirect-uris:
        #      - http://127.0.0.1:8080/login/oauth2/code/articles-client-oidc
        #      - http://127.0.0.1:8080/authorized
        #     scopes:
        #      - openid
        #     #  - articles.read
        #   articles-client1:
        #    registration:
        #     client-id: articles-client1
        #     client-secret: "{noop}secret1"
        #     client-name: Articles Client1
        #     client-authentication-methods:
        #       - client_secret_basic
        #     authorization-grant-types:
        #       - authorization_code
        #       - refresh_token
        #     redirect-uris:
        #       - http://127.0.0.1:8080/login/oauth2/code/articles-client1-oidc
        #       - http://127.0.0.1:8080/authorized
        #     scopes:
        #       - openid
        #       #  - articles.read
        #       #  - server
  data:
    redis:
      host: localhost  # 你的Redis服务器地址
      port: 6380       # 你的Redis服务器端口
      # 如果Redis有密码，需要配置
      # password: your-redis-password
      # 可以选择数据库编号，默认为0
      # database: 0
      lettuce:
        pool:
          max-active: 8   # 连接池最大连接数
          max-idle: 8     # 连接池最大空闲连接数
          min-idle: 0     # 连接池最小空闲连接数
  session:
    store-type: redis
    timeout: 120m
    redis:
      namespace: oauth2
      # allow-list:
      #   - "org.yanglu.spring.security.study.example.config.security.CustomUserDetails"
logging:
  level:
    # 开启Spring Security核心日志
    '[org.springframework.security]': TRACE
    # 开启OAuth2核心组件日志
    '[org.springframework.security.oauth2]': TRACE
    # 授权服务器特定日志
    '[org.springframework.security.oauth2.authorization]': TRACE
    # 授权服务器端点日志
    '[org.springframework.security.oauth2.authorization.endpoint]': TRACE
    # 客户端认证相关日志
    '[org.springframework.security.oauth2.client]': TRACE
    # 资源服务器相关日志（如同时作为资源服务器）
    '[org.springframework.security.oauth2.resource]': TRACE
    # 查看自动配置过程，有助于发现配置问题
    '[org.springframework.boot.autoconfigure]': TRACE
