server:
  port: 9000
  servlet:
    session:
      tracking-modes: cookie

spring:
  security:
    oauth2:
      authorizationserver:
        issuer: http://auth-server:9000
        # client:
        #   articles-client:
        #    registration:
        #     client-id: articles-client
        #     client-secret: "{noop}secret"
        #     client-name: Articles Client
        #     client-authentication-methods:
        #      - client_secret_basic
        #     authorization-grant-types:
        #      - authorization_code
        #      - refresh_token
        #     redirect-uris:
        #      - http://127.0.0.1:8080/login/oauth2/code/articles-client-oidc
        #      - http://127.0.0.1:8080/authorized
        #     scopes:
        #      - openid
        #     #  - articles.read
        #   articles-client1:
        #    registration:
        #     client-id: articles-client1
        #     client-secret: "{noop}secret1"
        #     client-name: Articles Client1
        #     client-authentication-methods:
        #       - client_secret_basic
        #     authorization-grant-types:
        #       - authorization_code
        #       - refresh_token
        #     redirect-uris:
        #       - http://127.0.0.1:8080/login/oauth2/code/articles-client1-oidc
        #       - http://127.0.0.1:8080/authorized
        #     scopes:
        #       - openid
        #       #  - articles.read
        #       #  - server
logging:
  level:
    # 开启Spring Security核心日志
    '[org.springframework.security]': TRACE
    # 开启OAuth2核心组件日志
    '[org.springframework.security.oauth2]': TRACE
    # 授权服务器特定日志
    '[org.springframework.security.oauth2.authorization]': TRACE
    # 授权服务器端点日志
    '[org.springframework.security.oauth2.authorization.endpoint]': TRACE
    # 客户端认证相关日志
    '[org.springframework.security.oauth2.client]': TRACE
    # 资源服务器相关日志（如同时作为资源服务器）
    '[org.springframework.security.oauth2.resource]': TRACE
    # 查看自动配置过程，有助于发现配置问题
    '[org.springframework.boot.autoconfigure]': TRACE
